{% extends 'ElasticBundle::layout.html.twig' %}
{% block body %}
{% set transactions = [] %}
{% set amountDivider = constant('ElasticBundle\\Service\\Elastic\\ElasticManager::ELASTIC_NQT_DIVIDER') %}
{% set maxTransactionsToShow = 200 %}
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12 col-lg-8">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Last 100 blocks</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    {% if blocks and blocks.blocks|length %}
                    <table id="elastic-blocks" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Height</th>
                                <th>Age</th>
                                <th>Txs</th>
                                <th>Amt + Fee</th>
                                <th>Generator</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for block in blocks.blocks %}
                                <tr>
                                    <td>
                                        <a href="{{ path('elastic_block',{'block': block.height}) }}">{{ block.height }}</a>
                                    </td>
                                    <td>
                                        {{ translateTimestampToHumanReadable(block.timestamp) }}
                                    </td>
                                    <td>
                                        {{ block.transactions|length }}
                                    </td>
                                    <td>
                                        {{ (block.totalAmountNQT/amountDivider)|number_format(2, '.', ',') }} + {{ (block.totalFeeNQT/amountDivider)|number_format(2, '.', ',') }}
                                    </td>
                                    <td>
                                        <a href="{{ path('elastic_address',{'address':block.generatorRS}) }}">{{ block.generatorRS }}</a>
                                    </td>
                                </tr>
                                {% if block.transactions|length %}
                                    {% if block.transactions|length and transactions|length < maxTransactionsToShow %}
                                        {% set transactions = transactions|merge(block.transactions) %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Height</th>
                                <th>Age</th>
                                <th>Txs</th>
                                <th>Amt + Fee</th>
                                <th>Generator</th>
                            </tr>
                        </tfoot>
                    </table>
                    {% endif %}
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <div class="col-xs-12 col-lg-4">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Next block generators ( {% if nextBlockGenerators %}{{ nextBlockGenerators.activeCount }}{% else %}0{% endif %} accounts forging )</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    {% if nextBlockGenerators and nextBlockGenerators.generators|length %}
                        <table id="elastic-blocks" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Efective Balance</th>
                                <th>Account</th>
                                <th>Hit</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for generator in nextBlockGenerators.generators %}
                                <tr>
                                    <td>
                                        {{ generator.effectiveBalanceNXT|number_format(2, '.', ',') }}
                                    </td>
                                    <td>
                                        <a href="{{ path('elastic_address',{'address':generator.accountRS}) }}">{{ generator.accountRS }}</a>
                                    </td>
                                    <td>
                                        {{ translateHitTimeToHumanReadable(generator.hitTime) }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>Efective Balance</th>
                                <th>Account</th>
                                <th>Hit</th>
                            </tr>
                            </tfoot>
                        </table>
                    {% endif %}
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Last 200 transactions in last 100 blocks</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    {% if transactions|length %}
                        <table id="elastic-transactions" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Timestamp</th>
                                <th>ID</th>
                                <th>Age</th>
                                <th>Amt + Fee</th>
                                <th>Sender</th>
                                <th>Recipient</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for transaction in transactions %}
                                <tr>
                                    <td>
                                        <a href="#">{{ transaction.timestamp }}</a>
                                    </td>
                                    <td>
                                        <a href="{{ path('elastic_transaction',{'transaction': transaction.transaction}) }}">{{ transaction.transaction }}</a>
                                    </td>
                                    <td>
                                        {{ translateTimestampToHumanReadable(transaction.timestamp) }}
                                    </td>
                                    <td>
                                        {{ (transaction.amountNQT/amountDivider)|number_format(2, '.', ',') }} + {{ (transaction.feeNQT/amountDivider)|number_format(2, '.', ',') }}
                                    </td>
                                    <td>
                                        <a href="{{ path('elastic_address',{'address':transaction.senderRS}) }}">{{ transaction.senderRS }}</a>
                                    </td>
                                    <td>
                                        {% if transaction.recipientRS is defined %}
                                            <a href="{{ path('elastic_address',{'address':transaction.recipientRS}) }}">{{ transaction.recipientRS }}</a>
                                        {% else %}
                                            Genesis
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>Timestamp</th>
                                <th>ID</th>
                                <th>Age</th>
                                <th>Amt + Fee</th>
                                <th>Sender</th>
                                <th>Recipient</th>
                            </tr>
                            </tfoot>
                        </table>
                    {% endif %}
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>

{% endblock %}
{% block page_scripts %}
    <script>
        $('#elastic-blocks').DataTable({
            "searching": false,
            "order": [[ 0, "desc" ]]
        });
        $('#elastic-transactions').DataTable({
            "searching": false,
            "aoColumnDefs": [{ "bVisible": false, "aTargets": [0] }],
            "order": [[ 0, "desc" ]]
        });
    </script>
{% endblock %}