{% extends 'ElasticBundle::layout.html.twig' %}
{% block body %}

{% set amountDivider = constant('ElasticBundle\\Service\\Elastic\\ElasticManager::ELASTIC_NQT_DIVIDER') %}

<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Account info</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    {% if accountInfo is defined and accountInfo and accountInfo|length %}
                        <table id="elastic-account" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Key</th>
                                <th>Value</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="text-muted">
                                    Account Address
                                </td>
                                <td>
                                    <a href="{{ path('elastic_address',{'address':accountInfo.accountRS}) }}">{{ accountInfo.accountRS }}</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-muted">
                                    Account Name
                                </td>
                                <td>
                                    {% if accountInfo.name is defined and accountInfo.name %}
                                        {{ accountInfo.name }}
                                    {% else %}
                                        {{ 'N/A' }}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td class="text-muted">
                                    Actual Balance / Unconfirmed / Guaranteed / Effective
                                </td>
                                <td>
                                    {{ (accountInfo.balanceNQT/amountDivider)|number_format(2, '.', ',') }} / <span class="text-muted">{{ (accountInfo.unconfirmedBalanceNQT/amountDivider)|number_format(2, '.', ',') }}</span> / <span class="text-muted">{{ (accountInfo.guaranteedBalanceNQT/amountDivider)|number_format(2, '.', ',') }}</span> / <span class="text-muted">{{ (accountInfo.effectiveBalanceNXT)|number_format(2, '.', ',') }}</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-muted">
                                    Forged
                                </td>
                                <td>
                                    {{ (accountInfo.forgedBalanceNQT/amountDivider)|number_format(2, '.', ',') }}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    {% endif %}
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Latest transactions</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    {% if accountTransactions.transactions is defined and accountTransactions.transactions and accountTransactions.transactions|length %}
                        <table id="elastic-account-transactions" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Timestamp</th>
                                <th>ID</th>
                                <th>Age</th>
                                <th>Sender</th>
                                <th>Recipient</th>
                                <th>Amt + Fee</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for accountTransaction in accountTransactions.transactions %}
                                <tr>
                                    <td>
                                        {{ accountTransaction.timestamp }}
                                    </td>
                                    <td>
                                        <a href="{{ path('elastic_transaction',{'transaction': accountTransaction.transaction}) }}">{{ accountTransaction.transaction }}</a>
                                    </td>
                                    <td>
                                        {{ translateTimestampToHumanReadable(accountTransaction.timestamp, true) }}
                                    </td>
                                    <td>
                                        <a href="{{ path('elastic_address',{'address':accountTransaction.senderRS}) }}">{{ accountTransaction.senderRS }}</a>
                                    </td>
                                    <td>
                                        {% if accountTransaction.recipientRS is defined and accountTransaction.recipientRS %}
                                            <a href="{{ path('elastic_address',{'address':accountTransaction.recipientRS}) }}">{{ accountTransaction.recipientRS }}</a>
                                        {% else %}
                                            {{ 'Genesis' }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ (accountTransaction.amountNQT/amountDivider)|number_format(2, '.', ',') }} + {{ (accountTransaction.feeNQT/amountDivider)|number_format(2, '.', ',') }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>Timestamp</th>
                                <th>ID</th>
                                <th>Age</th>
                                <th>Sender</th>
                                <th>Recipient</th>
                                <th>Amt + Fee</th>
                            </tr>
                            </tfoot>
                        </table>
                    {% endif %}
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

            <div class="box"> <!-- collapsed-box -->
                <div class="box-header">
                    <h3 class="box-title">Latest ledger entries</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    {% if accountLedger.entries is defined and accountLedger.entries and accountLedger.entries|length %}
                        <table id="elastic-account-ledger" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Timestamp</th>
                                <th>Height</th>
                                <th>Age</th>
                                <th>Type</th>
                                <th>Change</th>
                                <th>Balance</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for ledgerEntry in accountLedger.entries %}
                                <tr>
                                    <td>
                                        {{ ledgerEntry.timestamp }}
                                    </td>
                                    <td>
                                        <a href="{{ path('elastic_block',{'block': ledgerEntry.height}) }}">{{ ledgerEntry.height }}</a>
                                    </td>
                                    <td>
                                        {{ translateTimestampToHumanReadable(ledgerEntry.timestamp, true) }}
                                    </td>
                                    <td>
                                        {{ translateLedgerEntryType(ledgerEntry.eventType) }}
                                    </td>
                                    <td>
                                        {% if ledgerEntry.change > 0 %}
                                            <span class="text-green">{{ (ledgerEntry.change/amountDivider)|number_format(2, '.', ',') }}</span>
                                        {% elseif ledgerEntry.change < 0 %}
                                            <span class="text-red">{{ (ledgerEntry.change/amountDivider)|number_format(2, '.', ',') }}</span>
                                        {% else %}
                                            <span class="text-muted">0</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ (ledgerEntry.balance/amountDivider)|number_format(2, '.', ',') }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>Timestamp</th>
                                <th>Height</th>
                                <th>Age</th>
                                <th>Type</th>
                                <th>Change</th>
                                <th>Balance</th>
                            </tr>
                            </tfoot>
                        </table>
                    {% endif %}
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->


            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Lastest forged blocks</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    {% if accountBlocks and accountBlocks.blocks|length %}
                        <table id="elastic-account-blocks" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Height</th>
                                <th>Age</th>
                                <th>Txs</th>
                                <th>Amt + Fee</th>
                                <th>Generator</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for block in accountBlocks.blocks %}
                                <tr>
                                    <td>
                                        <a href="{{ path('elastic_block',{'block': block.height}) }}">{{ block.height }}</a>
                                    </td>
                                    <td>
                                        {{ translateTimestampToHumanReadable(block.timestamp) }}
                                    </td>
                                    <td>
                                        {{ block.transactions|length }}
                                    </td>
                                    <td>
                                        {{ (block.totalAmountNQT/amountDivider)|number_format(2, '.', ',') }} + {{ (block.totalFeeNQT/amountDivider)|number_format(2, '.', ',') }}
                                    </td>
                                    <td>
                                        <a href="{{ path('elastic_address',{'address':block.generatorRS}) }}">{{ block.generatorRS }}</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>Height</th>
                                <th>Age</th>
                                <th>Txs</th>
                                <th>Amt + Fee</th>
                                <th>Generator</th>
                            </tr>
                            </tfoot>
                        </table>
                    {% endif %}
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Lastest work submitted</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    {% if accountWork.work_packages is defined and accountWork.work_packages|length %}
                        <table id="elastic-account-work" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Work ID</th>
                                <th>Title</th>
                                <th>Height</th>
                                <th>Received PoW</th>
                                <th>PoW Fund</th>
                                <th>PoW Fund Orig</th>
                                <th>%</th>
                                <th>XEL per PoW</th>
                                <th>Bounty Fund</th>
                                <th>Bounty Fund Orig</th>
                                <th>Received Bounties</th>
                                <th>Bounty Limit</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for workPackage in accountWork.work_packages %}
                                <tr>
                                    <td>
                                        {{ workPackage.work_id }}
                                    </td>
                                    <td>
                                        <span title="{{ workPackage.title }}">{{ workPackage.title|slice(0,9) }}{% if workPackage.title|length > 10 %}...{% endif %}</span>
                                    </td>
                                    <td>
                                        <a href="{{ path('elastic_block',{'block': workPackage.originating_height}) }}">{{ workPackage.originating_height }}</a>
                                    </td>
                                    <td>
                                        {{ workPackage.received_pows }}
                                    </td>
                                    <td>
                                        {{ (workPackage.balance_pow_fund/amountDivider)|number_format(2, '.', ',') }}
                                    </td>
                                    <td>
                                        {{ (workPackage.balance_pow_fund_orig/amountDivider)|number_format(2, '.', ',') }}
                                    </td>
                                    <td>
                                        {{ workPackage.percentage_powfund }}
                                    </td>
                                    <td>
                                        {{ (workPackage.xel_per_pow/amountDivider)|number_format(2, '.', ',') }}
                                    </td>
                                    <td>
                                        {{ (workPackage.balance_bounty_fund/amountDivider)|number_format(2, '.', ',') }}
                                    </td>
                                    <td>
                                        {{ (workPackage.balance_bounty_fund_orig/amountDivider)|number_format(2, '.', ',') }}
                                    </td>
                                    <td>
                                        {{ workPackage.received_bounties }}
                                    </td>
                                    <td>
                                        {{ workPackage.bounty_limit }}
                                    </td>
                                    <td>
                                        {% if not workPackage.closed and not workPackage.cancelled %}
                                            <span class="label label-success">Running</span>
                                        {% elseif workPackage.closed %}
                                            <span class="label label-default">Ended</span>
                                        {% elseif workPackage.cancelled %}
                                            <span class="label label-warning">Cancelled</span>
                                        {% else %}
                                            <span class="label label-info">Unknown</span>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>Work ID</th>
                                <th>Title</th>
                                <th>Height</th>
                                <th>Received PoW</th>
                                <th>PoW Fund</th>
                                <th>PoW Fund Orig</th>
                                <th>%</th>
                                <th>XEL per PoW</th>
                                <th>Bounty Fund</th>
                                <th>Bounty Fund Orig</th>
                                <th>Received Bounties</th>
                                <th>Bounty Limit</th>
                                <th>Status</th>
                            </tr>
                            </tfoot>
                        </table>
                    {% endif %}
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
    </div>
</section>

{% endblock %}
{% block page_scripts %}

<script>
    $('#elastic-account-transactions').DataTable({
        "searching": false,
        "aoColumnDefs": [{ "bVisible": false, "aTargets": [0] }],
        "order": [[ 0, "desc" ]]
    });

    $('#elastic-account-blocks').DataTable({
        "searching": false,
        "order": [[ 0, "desc" ]]
    });

    $('#elastic-account-ledger').DataTable({
        "searching": false,
        "aoColumnDefs": [{ "bVisible": false, "aTargets": [0] }],
        "order": [[ 0, "desc" ]]
    });

    $('#elastic-account-work').DataTable({
        "searching": false,
        "order": [[ 2, "desc" ]]
    });
</script>

{% endblock %}